<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>CloudUnit</display-name>


	<!-- Remove classpath scanning (from servlet 3.0) in order to speed jetty 
		startup : metadata-complete="true" above + empty absolute ordering below -->
	<absolute-ordering>
		<!-- Empty absolute ordering is necessary to completely desactivate classpath 
			scanning -->
	</absolute-ordering>

	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

	<listener>
		<listener-class>fr.treeptik.conf.WebConfigurer</listener-class>
	</listener>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>


</web-app>